body {
    font-family: sans-serif;
    margin: 20px;
    background-color: #f4f4f4; /* Um fundo levemente acinzentado */
    color: #333; /* Cor de texto padrão */
    line-height: 1.6; /* Melhora a legibilidade */
}

h1, h2 {
    color: #007bff; /* Azul para títulos */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.divs {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
    border: 1px solid #ddd; /* Adiciona uma borda sutil */
}

/*label { /* Estiliza labels para melhor acessibilidade */
    /*display: block; /* Labels em bloco para melhor alinhamento */
    /*margin-bottom: 5px;*/
/*}*/

.inputs {
    width: calc(100% - 22px); /* Largura total menos o padding */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Inclui padding e borda na largura */
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transição suave na cor de fundo */
    margin-bottom: 10px;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 10px;
}

#dicas {
    white-space: pre-line; /* Mantém as quebras de linha */
    font-style: italic;
    color: #777;
}

#total-fixas, #total-variaveis, #economia, #previsao, #porcentoFixas, #porcentoVariaveis{
    font-weight: bold;
    margin-top: 10px;
}

/* Media query para telas menores */
@media (max-width: 600px) {
    body {
        margin: 10px;
    }
    input[type="text"] {
        width: calc(100% - 12px); /* Ajusta a largura do input em telas menores */
    }
}
